.feed{
    /* display: flex; */
    border: #000000 solid 1px;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}

.title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.feed-container{
    border: #000000 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 60vw;
   background-color: blueviolet;

}