.VisualsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.VisualsChart{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

